@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

/* custom properties */
:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fs-700: 2.25rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: 0.9375rem;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}
/* rest */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

[href] {
  /* background: var(--bg, var(--clr-neutral-900)); */
  color: var(--fg, var(--clr-neutral-100));
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  /* text-align: center; */
}

h2 {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
}

h3 {
  font-size: var(--fs-600);
}

p {
  font-size: var(--fs-500);
}
/* utilities classes */

.text-accent {
  --fg: var(--clr-accent-400);
}

.bg-accent {
  --bg: var(--clr-accent-400);
  --fg: var(--clr-neutral-900);
}

.bg-accent--dark {
  --bg: var(--clr-neutral-900);
  --fg: var(--clr-accent-400);
}

.bg-dark {
  --bg: var(--clr-neutral-900);
  --fg: var(--clr-neutral-100);
}

.bg-light {
  --bg: var(--clr-neutral-100);
  --fg: var(--clr-neutral-900);
}

.corner-dark {
  --corner-bg: var(--clr-neutral-900);
}

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--large > * + * {
  --flow-space: 3rem;
}
.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* layout */

section {
  padding: 2.5em 1em;
  max-width: 70em;
  margin: 0 auto;
  background: var(--bg);
  color: var(--fg);
}

.split {
  display: flex;
  flex-flow: column;
}

.sales-point article,
.access article {
  margin-top: 2em;
}

/* general styling */

[role="navigation"] {
  padding: 0.01em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--bg, --clr-accent-400);
  color: var(--fg, --clr-neutral-900);
}

.hero__img img {
  box-shadow: var(--box-shadow);
}

.section-title {
  background: var(--bg);
  color: var(--fg);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  padding: 0.1em 0.5em;
  display: inline-block;
}

.hero-title {
  font-weight: normal;
}

.hero__text p > a {
  color: var(--clr-accent-500);
}

.hero__img {
  margin-top: 3em;
}

.testimonials {
  text-align: center;
}

.testimonial {
  background: var(--bg);
  color: var(--fg);
  text-align: left;
  font-style: italic;
  padding: 2em;
}

.name {
  background: var(--bg);
  color: var(--fg);
  margin-top: 4em;
  font-weight: var(--fw-700);
}

.name,
.position {
  font-style: normal;
}
/* navigation */

header {
  background: var(--bg, var(--clr-neutral-900));
  color: var(--fg, var(--clr-neutral-100));
  text-transform: uppercase;
  font-weight: var(--fw-700);
}

[role="navigation"] > ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  letter-spacing: 0.2em;
}

/* general layout */
@media screen and (min-width: 40em) {
  .split {
    flex-flow: row nowrap;
  }
}
/* individual sections */

.CTA {
  background-image: url("assets/cta-bg-1.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.CTA-last {
  background-image: url("assets/cta-bg-2.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

div[class*="corner-square"] {
  /* font-size: 5rem; */
  position: relative;
}

.corner-square::before {
  content: "";
  width: 5em;
  height: 5em;
  background: var(--corner-bg, var(--clr-accent-400));
  display: block;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  z-index: -10;
}
