@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
  --shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* for headings decrease the line-height for paragraphs increase the space
group the content together. increase the font-weight on the important content we want the user to focus on depends on the section.
*/

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
.social-icons {
  display: flex;
  margin-top: auto;
  align-items: center;
  list-style-type: none; /* remove bullets 
}
*** need to use ::before on the <ul> add content: "\200B" so screen readers will read it. ***
.social-icons::before {
  content: "\200B"; /* add zero-width space
}
*/

/* utilities */

.flow-content > * + * {
  margin: var(--large-top, var(--br)) 0 0 0;
}

.more-space-top {
  --large-top: calc(var(--bg) * 3);
}

.flow-content-inline > * + * {
  margin: 0 0 0 var(--gap, var(--bg));
}

.more-gap {
  --gap: calc(var(--br) * 3);
}

[class*="bg-"] {
  background: var(--bg, var(--clr-neutral-100));
  color: var(--fg, var(--clr-neutral-900));
}

.bg-dark {
  --bg: var(--clr-primary-400);
  --fg: var(--clr-neutral-400);
}

.bg-light {
  --bg: var(--clr-neutral-100);
  --fg: var(var(--clr-neutral-500));
}

.h2 {
  /* use media query to change for desktop size */
  font-size: var(--fs-600);
}

.h3 {
  font-size: var(--fs-300);
}

.columns {
  display: flex;
  flex-flow: column wrap;
}

.columns > * + * {
  flex-basis: 100%;
}

/* general styles */

/* layout */

/* components */

/* individual sections */

/*  */
