@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
  --shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* for headings decrease the line-height for paragraphs increase the space
group the content together. increase the font-weight on the important content we want the user to focus on depends on the section.
*/

/* 
html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}
*/

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  padding: 0.5rem;
}

body {
  min-height: 100%;
  font-family: var(--plex-sans, var(--ff-serif));
  font-size: var(--fs-700);
  line-height: 1.5;
  /* padding: 0.5rem; */
  position: relative;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  line-height: 1.4;
  font-size: var(--fs-400);
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

img {
  max-width: 100%;
  display: block;
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
.social-icons {
  display: flex;
  margin-top: auto;
  align-items: center;
  list-style-type: none; /* remove bullets 
}
*** need to use ::before on the <ul> add content: "\200B" so screen readers will read it. ***
.social-icons::before {
  content: "\200B"; /* add zero-width space
}
*/

/* utilities */

.flow-content > * + * {
  margin: var(--large-top, var(--br)) 0 0 0;
}

.more-space-top > * + * {
  margin: var(--gap-top, var(--br)) 0 0 0;
}

.flow-content-inline > * + * {
  margin: 0 0 0 var(--gap, var(--br));
}

.top-space {
  margin-top: 3em;
}
/* .inline-more-gap > * + *{
  --gap: calc(var(--br) * 3);
} */

[class*="bg-"] {
  background: var(--bg, var(--clr-neutral-100));
  color: var(--fg, var(--clr-neutral-900));
}

.bg-dark {
  --bg: var(--clr-primary-400);
  --fg: var(--clr-neutral-400);
}

.bg-light {
  --bg: var(--clr-neutral-100);
  --fg: var(var(--clr-neutral-500));
}

.top-bottom-lines {
  border-top: 0.1em solid var(--clr-neutral-200);
  border-bottom: 0.1em solid var(--clr-neutral-200);
}

.primary-title {
  font-size: var(--fs-900);
  /* color: rgba(218, 55, 196); */
}

.section-title,
.subtitles {
  font-size: var(--fs-600);
}

.normal-font-weight,
.primary-title,
.section-title,
.subtitles,
.card-title {
  font-weight: normal;
}

.card-title {
  font-size: var(--fs-600);
}

.date-read {
  font-size: var(--fs-200);
}

.h2 {
  /* use media query to change for desktop size */
  font-size: var(--fs-600);
}

.h3 {
  font-size: var(--fs-300);
}

.multi-landmark {
  display: none;
}

/* .plex-sans{
    font-family: var(--ff-sans);
} */

/* general styles */

.header-nav li:first-child {
  border-right: 0.1em solid var(--clr-neutral-400);
}

.blog__post img {
  border-radius: 1em;
}

.section-title {
  color: var(--clr-primary-400);
}

.container {
  max-width: 50em;
  margin: 0 auto;
  /* adding padding first before margins to section element we created good enough space between elements. */
  padding: 2em 1em;
}

/* @media screen and (min-width: 40em){
    .card-title{
        font-size: var(--fs-500);
    }
} */

.blog__posts > div:first-child {
  margin-top: 3em;
}

.blog {
  background: var(--clr-primary-300);
  border-radius: 1em;
}

.arrow {
  display: inline-block;
  /* font-size: var(--fs-300); */
  --large-top: 1rem;
}

.arrow::after {
  content: ">";
  margin-left: 0.7em;
}

label {
  font-size: 0.8em;
}

input {
  border: none;
  border-bottom: 0.1em solid var(--clr-neutral-300);
  font-size: var(--fs-400);
}

[id="fullname"] {
  margin-bottom: 1em;
}

[href="#subscribe"] {
  margin: 2em 0 1.5em 0;
}

.cta-bg-img {
  height: 15rem;
  background-image: url(img/newsletter.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1em;
}

/* layout */

.columns {
  display: flex;
  flex-flow: column wrap;
}

.columns > * + * {
  margin: calc(var(--br) * 3) 0 0 0;
}

.columns > * {
  flex-basis: 100%;
}

.col-1 {
  flex-basis: 25%;
}

.col-2 {
  flex-basis: var(--desktop, 50%);
}

.col-3 {
  flex-basis: 75%;
}

.col-4 {
  flex-basis: 60%;
}

.align-right {
  text-align: right;
}

.label-input > * {
  display: block;
}

/* components */

/* individual sections */

/* hero */

[role="banner"] {
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 15em;
  border-radius: 1em;
  padding: 1em;
}

/* navigation */
.main-nav {
  width: 96%;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  /* position: sticky;
  top: 100%; */
}

ul.header-nav {
  --link-fg: var(--clr-primary-300);
  display: flex;
  background: var(--clr-neutral-900);
  /* justify-content: space-between; */
  margin: 0;
  font-size: var(--fs-300);
  padding: 1rem 3rem;
  border-radius: 1em;
  /* width: 100%; */
}

.header-nav a {
  font-size: 1.2em;
}

@media screen and (min-width: 40.625em) {
  /* the cascade or the appearance order STILL matters in @media */
  /* utilities */
  .columns {
    flex-flow: row nowrap;
  }

  .columns > * + * {
    margin: 0 0 0 calc(var(--br) * 3);
  }

  /* header/navigation */

  .main-nav {
    position: static;
    width: auto;
    margin-left: auto;
  }

  [role="banner"] > div {
    display: flex;
    align-items: center;
  }

  .cta-bg-img,
  [role="banner"] {
    height: 30em;
  }

  ul.header-nav {
    background: none;
    padding: 0;
  }

  .header-nav a {
    color: var(--clr-neutral-900);
  }

  .align-right {
    text-align: none;
  }
  .header-nav li:first-child {
    border-right: none;
    margin: 0 1em 0 0;
  }
  /* hero */
  .primary-title {
    font-size: 3.5rem;
    margin-bottom: 1em;
  }

  /* general style */
  .blog__posts > div {
    margin-top: 3em;
  }

  [href="#subscribe"] {
    align-self: center;
  }
  .footer-links .footer-img {
    margin: 1.5rem 0 0 0;
    flex-basis: auto;
  }

  .footer-links-container ul:last-child {
    margin: 1rem 0 0 0;
  }

  .footer-links-container {
    margin: 0;
  }

  .misc-info .copy-right {
    align-self: center;
    margin: 0;
  }

  .container {
    padding: 4em 1em;
  }
  /* layout */
  .social-icons {
    order: 1;
  }
}

/* footer section */

.footer {
  padding-bottom: 4em;
}

.footer-lists li:first-child {
  font-size: var(--fs-400);
  color: var(--clr-neutral-300);
}

.footer-lists li:last-child {
  margin-bottom: 4em;
}

.footer-links {
  --large-top: calc(var(--br) * 1.5);
  /* --gap-top: calc(var(--br) * 5); */
}

.footer-img {
  margin: 3em 0 0 0;
  align-self: flex-start;
}

.misc-lists {
  display: flex;
  --gap: calc(var(--br) * 3);
  margin: 3em 0;
  /* justify-content: space-around; */
}

.misc-lists a {
  color: var(--clr-neutral-300);
}

.copy-right {
  margin: 0 0 2em 0;
  color: var(--clr-neutral-300);
  font-size: var(--fs-300);
}

/*  */
