/* Custom properties */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* Utility classes */
.flow-content > * + * {
  margin-top: 1.25rem;
}

.small-flow-content > * + * {
  margin-top: 0.5rem;
}

/* .flow-content > *:last-child {
  margin-top: 0;
} */

.flow-content-horizontal > * + * {
  margin-left: 1.25rem;
}

.fg-accent {
  --fg-heading: var(--clr-accent-400);
}

.fg-light {
  --fg: #fff;
}

.fg-dark {
  --fg: var(--clr-neutral-700);
  /* color: inherit; */
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-neutral-900);
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}
h2 {
  /* background: var(--bg, inherit); */
  font-size: 2.3rem;
  color: var(--fg-heading, inherit);
}

.inner-container h3 {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

.hero {
  padding: 5em 0;
}

.hero-container {
  /* background: red; */
  width: 50em;
  margin: 0 auto;
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "hero-content hero-img";
}

.hero-content-container {
  grid-area: hero-content;
}

.hero-title {
  grid-area: hero-title;
  font-weight: normal;
}

.hero-text {
  grid-area: hero-text;
}

.hero-link {
  grid-area: hero-link;
}

.hero-img {
  grid-area: hero-img;
  align-self: stretch;
}

.shadow {
  box-shadow: var(--box-shadow);
}

.sales-point {
  background: var(--clr-neutral-700);
}

.inner-container > div {
  margin: 0.5em 0 0 0;
  color: var(--fg, #fff);
}

.outer-container {
  width: 50em;
  margin: 0 auto;
  padding: 5em 0;
}

.inner-container {
  /* color: #fff; */
  display: flex;
  gap: 2em;
}

.access-library .inner-container > div {
  position: relative;
}

.background-square {
  width: 3em;
  height: 3em;
  background: var(--clr-accent-400);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  transform: translate(-0.4em, -0.3em);
  z-index: -10;
}

.CTA {
  background-image: url("./assets/cta-bg.jpg");
  background-size: cover;
  text-align: center;
  color: var(--fg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10em;
}

.CTA > * + * {
  margin-top: 1.5em;
}
